/* You can add global styles to this file, and also import other style files */
@import "./bootstrap.scss";

html,
body {
    height: 100%;
    width: 100%;
    background-color: #f6f7fb;
    font: 14px 'Roboto', Arial, sans-serif;
}

body {
    line-height: 1.4em;
    background: #f5f5f5;
    color: #4d4d4d;
    margin: 0 auto;
    font-weight: 300;
}

.page-container {
    min-height: 100vh;
    padding-left: 280px;
    transition: all 0.2s ease;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    background-color: transparent;
}

img {
    vertical-align: middle;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

h4 {
    font-size: 18px;
    color: #515365;
    letter-spacing: 0.5px;
    font-weight: normal;
    line-height: 1.5;
}

button {
    border: 0;
    background: none;
    color: #1099ee;
    font-size: 14px;
    text-decoration: underline;
}
