/* You can add global styles to this file, and also import other style files */
@import "./bootstrap.scss";

html,
body {
    height: 100%;
    width: 100%;
    background-color: #f6f7fb;
    font-family: 'Open Sans Condensed', sans-serif;
}

.page-container {
    min-height: 100vh;
    padding-left: 280px;
    transition: all 0.2s ease;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    background-color: transparent;
}

img {
    vertical-align: middle;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

h4 {
    font-size: 18px;
    color: #515365;
    letter-spacing: 0.5px;
    font-weight: normal;
    line-height: 1.5;
}

.control {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 18px;
    top: 10px;
}

.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.control__indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #e6e6e6;
}

.control--radio .control__indicator {
    border-radius: 50%;
}

.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
    background: #ccc;
}

.control input:checked ~ .control__indicator {
    background: #1099ee;
}

.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
    background: #1099ee;
}

.control input:disabled ~ .control__indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}

.control__indicator::after {
    content: '';
    position: absolute;
    display: none;
}

.control input:checked ~ .control__indicator::after {
    display: block;
}

.control--checkbox .control__indicator::after {
    left: 8px;
    top: 4px;
    width: 3px;
    height: 8px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.control--checkbox input:disabled ~ .control__indicator::after {
    border-color: #7b7b7b;
}
