.header {
    background-color: #0f9aee;
    color: #fff;
    border-color: #0f9aee;
    border-radius: 0;
    height: 65px;

    .nav-right {
        position: relative;
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;
        float: right;

        & > li {
            float: left;
        }

        & > li > a {
            padding: 0 15px;
            line-height: 65px;
            min-height: 65px;
            color: #888da8;
            display: block;
            transition: all 0.2s ease-in-out;
        }
    }

    h1 {
        margin-left: 30px;
        display: inline-block;
        margin-top: 12px;
    }
}
