<ul id="todo-list" *ngIf="tasks">
    <li *ngFor="let task of tasks" [ngClass]="{completed: task.status, editing: task == editedTask}">
        <div class="view">
            <input title="status" [checked]="task.status" class="toggle" type="checkbox" ([ngModel])="task.status" (change)="toggleStatus(task)">
            <label (dblclick)="editTask(task)">{{ task.name }}</label>
            <button class="destroy" (click)="removeTask(task)"></button>
        </div>
        <form (submit)="saveEdits(task, 'submit')">
            <input [(ngModel)]="task.name" value="{{ task.name }}" name="name" title="edit" class="edit"
                   (keyup.escape)="revertEdits(task)"
                   (blur)="saveEdits(task, 'blur')"
                   (focus)="task == editedTask">
        </form>
    </li>
</ul>
