<a href="" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    <img class="profile-img img-fluid" src="https://randomuser.me/api/portraits/women/54.jpg" alt="">
    <div class="user-info">
        <span class="name pdd-right-5">Nate Leong</span>
        <i class="ti-angle-down font-size-10"></i>
    </div>
</a>
<ul class="dropdown-menu">
    <li>
        <a href="#" (click)="logout()">
            <i class="ti-power-off pdd-right-10"></i>
            <span>Déconnexion</span>
        </a>
    </li>
</ul>
